@font-face {
  font-family: "Grotesk";
  src: url("@/public/fonts/Grotesk.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Grotesk";
  src: url("@/public/fonts/Grotesk-Regular-Italic.otf") format("otf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Grotesk Light";
  src: url("@/public/fonts/Grotesk-Light.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Grotesk Light";
  src: url("@/public/fonts/Grotesk-Light-Italic.otf") format("otf");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Grotesk Super";
  src: url("@/public/fonts/Grotesk-Super.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Grotesk Super";
  src: url("@/public/fonts/Grotesk-Super-Italic.otf") format("otf");
  font-display: swap;
  font-style: italic;
}