body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Reckless Neue", serif;
  font-size: 48px;
  line-height: 110%;
  margin: 0;
}

h2 {
  font-size: 36px;
  line-height: 110%;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 110%;
}

a {
  text-decoration: none;
  color: #333333;
}
