body {
  background-color: #c9e0e8;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  color: #333333;
}


h1 {
  font-family: "Grotesk", sans-serif;
  font-size: 48px;
  line-height: 110%;
}

h2 {
  font-size: 36px;
  line-height: 110%;
}

h3 {
  font-size: 30px;
  line-height: 110%;
}

h4 {
  font-size: 24px;
  line-height: 100%;
}

a, p {
  font-size: 16px;
}

p {
  font-family: "Grotesk Light", sans-serif;
  line-height: 110%;
}

a {
  font-family: "Grotesk Super", sans-serif;
  line-height: 125%;
  text-decoration: none;
}

.half__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  padding: 24px;
}