@media (min-width: 1080px) {
	h1 {
		font-size: 72px;
		/* line-height: 133%; */
	}

	h2 {
		font-size: 64px;
	}

	.project-link,
	h3 {
		font-size: 48px;
	}

	h4 {
		font-size: 12px;
	}

	.tool-icon {
		height: 48px;
		width: 48px;
	}
}

@media (min-width: 1680px) {
	body {
		width: 1680px;
		margin: 0 auto;
	}
}
