body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
label,
input,
textarea,
::placeholder {
	font-family: "Karla", sans-serif;
	font-weight: 400;
	line-height: 130%;
	margin: 0;
	padding: 0;
	color: inherit;
}

input,
textarea,
::placeholder {
	color: var(--black);
	background: var(--light-gray);
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	line-height: 110%;
	text-transform: uppercase;
}

h2 {
	font-size: 36px;
	line-height: 120%;
}

.project-link,
h3 {
	font-size: 30px;
	line-height: 110%;
}

h4 {
	font-size: 12px;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 600;
}

h1,
a {
	letter-spacing: 0.05em;
}

a,
p,
li,
button {
	font-size: 12px;
}

p,
a,
li {
	font-family: "Karla", sans-serif;
	line-height: 130%;
	font-weight: 200;
}

.project-link {
	font-weight: 400;
}

button,
a {
	position: relative;
}

button {
	background: none;
	border: none;
	padding: 8px;
}

a {
	text-decoration: none;
}

button::before,
a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 1px;
	bottom: -1px;
	left: 0;
	border-bottom: 1px solid var(--black);
	transform: scaleX(0);
	transition: transform 350ms ease;
}

button:hover::before,
a:hover::before {
	transform: scaleX(1);
}

.half__grid {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.link-icon {
	width: 48px;
	height: 48px;
	padding: 0;
	display: flex;
	flex-shrink: 0;
}

.tool-icon {
	height: 24px;
	width: 24px;
	color: var(--black);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--black);
		color: var(--white);
	}

	.link::before,
	a::before {
		border-bottom: 1px solid var(--white);
	}

	.tool-icon {
		color: var(--white);
	}
}

@media (hover: hover) and (pointer: fine) {
	button:hover {
		cursor: pointer;
	}
}
